{% extends 'base/form_main.html' %}
{% block content %}
<div class="login-container">
    <div class="login-box">
        <h2>login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}
            {{ form.password.label_tag }}
            {{ form.password }}
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register/">Sign up</a></p>
        {% if form.errors %}
        <p class="error-message">Invalid Credentials , Re-Enter Form Details Correctly</p>
        {% endif %}
    </div>
</div>
{% endblock %}
    
